.container {
  display: flex;
  position: absolute;
  padding: 3px;
  background-color: rgb(8, 49, 217);
  flex-direction: column;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  top: 5%;
  left: 20%;

  width: 960px;
  height: auto;
}

.headerBg {
  background: linear-gradient(
    rgb(0, 88, 238) 0%,
    rgb(53, 147, 255) 4%,
    rgb(40, 142, 255) 6%,
    rgb(18, 125, 255) 8%,
    rgb(3, 111, 252) 10%,
    rgb(2, 98, 238) 14%,
    rgb(0, 87, 229) 20%,
    rgb(0, 84, 227) 24%,
    rgb(0, 85, 235) 56%,
    rgb(0, 91, 245) 66%,
    rgb(2, 106, 254) 76%,
    rgb(0, 98, 239) 86%,
    rgb(0, 82, 214) 92%,
    rgb(0, 64, 171) 94%,
    rgb(0, 48, 146) 100%
  );
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  height: 28px;
  pointer-events: none;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  overflow: hidden;
}

.header {
  display: flex;
  height: 25px;
  line-height: 25px;
  font-weight: 700;
  font-size: 12px;
  font-family: "Noto Sans";
  text-shadow: rgb(0, 0, 0) 1px 1px;
  color: white;
  position: absolute;
  left: 3px;
  right: 3px;
  -webkit-box-align: center;
  align-items: center;
}

.myfileIconBox {
  width: 15px;
  height: 15px;
  display: flex;
  align-self: center;
  margin: 0 3px;
}

.myfileIcon {
  width: 100%;
  height: 100%;
}

.content {
  width: 100%;
  height: 100%;
  margin-top: 25px;
}

.nav {
  background-color: beige;
  display: flex;
  border-bottom: 1px solid rgb(150, 171, 255);
  width: 100%;
  position: relative;
  height: 21px;
  flex-shrink: 0;
  margin: 0;
  padding: 0;
}

.nav li {
  list-style-type: none;
  margin: 1px;
  padding: 1px 4px;
  font-size: 11px;
  cursor: pointer;
}

.nav li:hover {
  background-color: rgb(22, 96, 232);
  color: rgb(255, 255, 255);
}

.detail {
  background-color: white;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
  overflow-y: scroll;
  max-height: 700px;
  min-height: 150px;
}
